
    <div id="map"> </div>
    


<div class="whitefont">
    <h2 class="header" id="event-name">{{title}}</h2>

    <h3>{{date}}</h3>

    <p id="event-desc">{{description}}</p>
    {{#if logged_in}}
   <button class="fave" data-event_id={{id}} data-user_id={{thisUser}}>Add to Favorites</button>
    {{/if}}
</div>

<div id="map-area">
    {{!-- map data here --}}



</div>
<script src="/js/attractions.js"></script>

<script src="/script/leaflet.js"></script>
